body
{
    background-color: #000000;
    background-image: url('img/img2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#black
{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 100%;
    width: 100%;
    animation: fade 15s;
    opacity: 0;
}

@keyframes fade
{
    from {opacity: 1;}
    to   {opacity: 0;}
}
