body
{
    background-image: url('img/img1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#noob
{
    text-align: center;
    color: #9a9a9a
}
